@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "cocogoose", lato, monospace;
}

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.hamburger {
  width: 50px;
}

.logo {
  width: 50px;
  height: 50px;
}
