@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 75px;
}

.hamburger {
  width: 40px;
  cursor: pointer;
}

.header-content {
  background-image: url(./resources/bg3.jfif);
  background-repeat:no-repeat;
  background-size: cover;
  padding-left: 30px;
  padding-top: 84px;
  padding-right: 30px;
}

.header-content h2 {
  font-size: 34px;
  font-weight: 600;
  color: #ec5242;
}

.header-content-p {
  font-size: 62px;
  background: -webkit-linear-gradient(hsl(0, 100%, 50%), rgb(22, 22, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 68px;
  font-weight: 900;
}

.header-content-para-two {
  margin-top: 34px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  color: #272a31;
  font-weight: 800;
  background-color: #d3d3d3;
  padding: 20px;
  line-height: 28px;
  opacity: 60%;
}

.program-time {
  margin-top: 44px;
}

.logo {
  width: 80px;
  height: 80px;
}

.main-program {
  margin-top: 20px;
  padding: 0 10px;
  background-image: url(./resources/mosaic.png);
  background-size: cover;
}

.h-style {
  color: #fff;
  width: 150px;
  padding-top: 25px;
  margin: 0 auto;
  padding-bottom: 12px;
  font-weight: 100;
  font-size: 18px;
}

.h-style-two {
  color: #000;
}

.hr-one {
  width: 40px;
  border: 0.8px solid #ec5242;
  margin: 0 auto;
}

.main-program img {
  width: 40px;
  color: #fff;
  margin-right: 10px;
}

.program {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  background-color: #272a31;
  opacity: 70%;
  padding: 10px;
}

.program-button {
  display: block;
  padding: 20px;
  width: 60vw;
  margin: 25px auto;
  background-color: #ec5242;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.button-div {
  margin-bottom: 20px;
}

.lecture-title {
  color: #ec5242;
  padding-right: 15px;
}

.lecture-detail {
  width: 65%;
  color: #fff;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fa-chalkboard {
  color: #fff;
}

.speakers-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.speaker-picture {
  width: 150px;
  border-radius: 50%;
  margin-left: 20px;
}

.speakers-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 30px;
  line-height: 20px;
  font-weight: 500;
}

.hr-style {
  width: 50px;
  margin-bottom: 5px;
}

.speakers-description {
  color: #ec5242;
  font-style: italic;
  margin-bottom: 1px;
  margin-top: 5px;
}

.partner {
  background-color: #272a31;
  text-align: center;
}

.partner-header {
  color: #fff;
  padding: 20px 160px 5px 160px;
}

.partner img {
  width: 120px;
}

.partners-img {
  padding: 30px 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.partner1,
.partner2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.partner2 {
  padding-left: 60px;
  padding-right: 60px;
}

.footer-contact {
  color: #000;
  text-align: center;
}

.footer-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-para {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.footer-small {
  display: block;
  text-align: center;
  margin-bottom: 40px;
  font-style: italic;
}

.overlay {
  display: none;
  padding: 40px;
  position: fixed;
  background-color: #272a31;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 90%;
}

.fa-times {
  font-size: 32px;
  position: absolute;
  top: 21px;
  right: 37px;
  color: #fff;
  cursor: pointer;
}

.fa-times:hover {
  font-size: 40px;
}

.overlay li {
  margin-bottom: 32px;
}

.overlay li:first-child {
  margin-top: 64px;
}

.overlay a {
  color: #fff;
  font-size: 24px;
}

.overlay a:hover {
  font-size: 32px;
}
