@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "cocogoose", lato, monospace;
}

.mobile-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 75px;
}

.hamburger {
  width: 40px;
  cursor: pointer;
}

.header-content {
  
  height: 512px;
  background-image: url(./resources/background5.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #ec5242; */
  padding-left: 30px;
  padding-top: 84px;
  padding-right: 30px;
 
}

.header-content h2 {
 font-size: 24px;
  font-weight: 100;
  color: #ec5242;  
}

.header-content-p {  
  font-size: 42px;
  background: -webkit-linear-gradient(hsl(0, 100%, 50%), rgb(22, 22, 136));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 48px;
}

.header-content-para-two {
    margin-top: 34px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
    color: #272a31;
    font-weight: 100;
    background-color: #d3d3d3;
    padding: 20px;
}

.program-time {
    margin-top: 44px;
}

.logo {
  width: 80px;
  height: 80px;
}

.fa-times {
  font-size: 32px;
  position: relative;
  left: 410px;
  color: #fff;
  cursor: pointer;
}

.fa-times:hover {
  font-size: 40px;
}

.overlay {
  display: none;
  padding: 20px;
  position: fixed;
  background-color: #ec5242;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay li {
  margin-bottom: 32px;
}

.overlay li:first-child {
  margin-top: 64px;
}

.overlay a {
  color: #fff;
  font-size: 24px;
}

.overlay a:hover {
  font-size: 32px;
}
